/Babelfish/nbproject/private/
/BabelfishClient/nbproject/private/
/BabelfishExample/nbproject/private/
/BabelfishCLI/nbproject/private/
/BabelfishClient/build/
/BabelfishCLI/build/
/BabelfishClient/target/
/BabelfishCLI/target/